*.csv
*.log
extras/*
config.ini
.vscode
postgresql/*
.idea/
.DS_Store
*.$*.bkp

# Ignorar pastas de cache do Python
__pycache__/
*.py[cod]

# Ignorar ambientes virtuais
venv/
env/
sbenv/

# Ignorar arquivos de log
*.log

# Ignorar shapefile
*BR_Municipios_2022.shp

backend/saude_basica_env/
backend/saude_basica_v1.psql

backend-mongo/__pycache__/*
backend-mongo/.pytest_cache/*
backend-mongo/uploads/*

.venv/*

.coverage
.pylintrc

database/data/
database/backup/