*.csv
*.log
extras/*
config.ini
.vscode
postgresql/*
.idea/
.DS_Store

# Ignorar pastas de cache do Python
__pycache__/
*.py[cod]

# Ignorar ambientes virtuais
venv/
env/

# Ignorar arquivos de log
*.log

# Ignorar shapefile
*BR_Municipios_2022.shp

backend/saude_basica_env/
backend/saude_basica_v1.psql