<!-- Em website/templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2>Projeto em Ciência de Dados</h2>

    <p> O objetivo do projeto é desenvolver uma ferramenta que auxilie gestores públicos na tomada de decisões e que
        sirva como uma fonte confiável de dados para pesquisas científicas na área da saúde.</p>

    <p> Para isso, serão coletados dados de atendimentos primários disponibilizados pelo sistema de saúde pública SISAB
        (https://sisab.saude.gov.br/) como fonte principal, utilizando técnicas de web scraping.</p>

    <p> Os dados coletados serão processados, incluindo limpeza, complementação e avaliação de consistência por
        especialistas. Em seguida, os dados serão rotulados e organizados em relatórios interativos com gráficos e
        tabelas dinâmicas.</p>

    <p> Esses relatórios serão disponibilizados em um painel web com uma interface intuitiva e recursos avançados de
        visualização para facilitar a interpretação e o uso das informações.</p>

    <p> O projeto esta sendo desenvolvido no contexto da matéria MAC476 | 6967 - Laboratório Avançado de Ciência de
        Dados (2024), do curso da Ciência de Computação - IME USP</p>

    <h3>Cliente</h3>
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Descrição/Contato</th>
        </tr>
        <tr>
            <td>Leonardo Rosa</td>
            <td>Pesquisador IEPS</td>
        </tr>
    </table>

    <h3>Equipe de Desenvolvimento</h3>
    <table class="table table-striped">

        <tr>
            <th>Nome</th>
            <th>Descrição/Contato</th>
        </tr>
        <tr>
            <td>Daniel Schulz</td>
            <td>Analista de Dados</td>
        </tr>
        <tr>
            <td>Elinilson Vital</td>
            <td>Analista de Dados</td>
        </tr>
        <tr>
            <td>Leonardo Gomes</td>
            <td>Analista de Dados</td>
        </tr>
        <tr>
            <td>Lucas Macedo</td>
            <td>Analista de Dados</td>
        </tr>
        <tr>
            <td>Mariana Cruvinel</td>
            <td>Analista de Dados</td>
        </tr>
    </table>
{% endblock %}
