#indicators {
  display: flex;
  align-items: center;
}

#indicator-content {
  background-color: white;
  border-radius: 8px;
  padding: 15px 20px;
}

#overview {
  font-size: 20px;
  margin-bottom: 10px !important;
  margin-left: 2px;
  font-weight: bold;
}

.time-visualization-content {
  background-color: white;
  border-radius: 8px;
  padding: 15px 20px;
}

#atendimentos-title {
  font-size: 16px;
  margin-bottom: 3px !important;
  font-weight: medium;
}

.indicator-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
}

.slash {
  max-width: 1px;
  padding: 0px;
}

.indicator-number-total {
  font-weight: bold;
  margin-bottom: 0px;
}

.description-indicator-total {
  font-size: 16px;
  margin-bottom: 0px;
}

.indicator-number {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}

.description-indicator {
  font-size: 14px;
  margin-bottom: 0px;
}

.indicator-number-small {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
}

.description-indicator-small {
  font-size: 11px;
  margin-bottom: 0px;
}

.indicator-legend-box {
  display: flex;
  margin: 6px 0px 12px 0px;
}

.indicator-legend {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.legend-text {
  font-size: 11px;
  font-weight: 300;
  margin: 0px;
  color: #212529bf;
}

.indicator-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-content {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #343A40;
}

.year-button {
  margin-right: 16px !important;
  font-size: 10px;
  padding: 2px 8px !important;
}