#side-bar {
  left: 0;
  height: 100vh;
  width: 220px;
  position: fixed;
  background-color: #343A40;
}

.btn {
  padding: 20px;
  width: 100%;
  border-radius: 0px;
  text-align: justify;
  background: none;
  border: none;
  color: #ffffff;
}

.btn:hover {
  background-color: #f8f9fa !important;
  color: #343A40 !important;
}

.btn:active {
  background-color: #F8F9FA !important;
  color: #343A40 !important;
}